# =========================
# DJANGO CORE SETTINGS
# =========================

# Django secret key (change for production)
SECRET_KEY=enter-your-secret-key-here

# Debug mode (True for development, False for production)
DEBUG=True

# Allowed hosts (comma-separated)
ALLOWED_HOSTS=127.0.0.1,localhost

# =========================
# DATABASE
# =========================
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=

# =========================
# DJANGO AUTH
# =========================

# Custom user model already configured in settings.py

# AUTH_USER_MODEL=accounts.User

# =========================
# MEDIA & STATIC
# =========================

MEDIA_URL=/media/
STATIC_URL=/static/

# =========================
# SECURITY
# =========================

# CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000
# SECURE_SSL_REDIRECT=False
# SESSION_COOKIE_SECURE=False
# CSRF_COOKIE_SECURE=False
